.btn {
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.14%, #0038ED 105.15%);
    border-radius: 60px;
    padding: 16px 32px;
    text-decoration: none;

    &__text {
        color: #fff;
    }
}