.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: 100px;


    .content{
        display: flex;
        height: max-content;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: 700;
            font-family: sans-serif;
            font-size: 80px;
            color: #fff
        }
        .description{
            display: flex;
            padding: 0;
            width: 550px;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            color: #fff;
        }
    }
    
}