.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .content{
        display: flex;
        height: max-content;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: 800;
            font-family: sans-serif;
            font-size: 75px;
            color: #fff;
            b{
                font-weight: inherit;
                color: transparent;
                background: var(--color-gradient);
                background-clip: text;
            }
        }
        .description{
            display: flex;
            padding: 0;
            width: 550px;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            color: #fff;
        }
    }
    
}