@import './fonts/fonts.css';
:root{
    --color-gray: #888;
    --color-primary-main: #110929;
    --color-primary-light: #251163;
    --color-gradient: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.14%, #0038ED 105.15%);
    --color-gradient-revert: linear-gradient(112.62deg, #0038ED 9.4%, #8D1CFE 105.14%);
    /* // fonts */
    /* // --font-inter: 'Inter'; */
    --container-max-width: 1200px;
    
}